/* Total settings =================================== */
* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Fira Sans', sans-serif;
	font-size: 20px;
	line-height: 26px;
	font-weight: 400;
	color: #212121;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

h2,
h3 {
	font-family: 'Playfair Display', serif; 
	font-weight: 700;
	letter-spacing: 1px;
}

h2 { font-size: 42px; }

h3 { font-size: 26px; }

li { list-style: none; }

a { text-decoration: none; }

p {
	font-size: 16px;
	line-height: 24px;
}

.heading { margin: 70px auto 25px; }
.services-box .heading { margin-top: 45px; }


span { display: block; }

.post-head {
	font-family: 'Playfair Display', serif;
	font-weight: 400;
	font-size: 24px;
	line-height: 32px;
	margin-top: 25px;
}

/* =========== Lines ==================================== */
.logo:after,
.social-box:before {
	content: '';
	display: block;
	width: 400%;
	border-bottom: 1.5px dashed #2d74a8;
	opacity: .6;
	position: absolute;
	left: -40%;
}
.logo:after { bottom: 0; }
.social-box:before { top: 0; }

/* =========== Aside + Content ================================ */
.panel-aside {
	width: 20vw;
	height: 100vh;
	background: #7dc8ff;
	overflow: hidden;
	position: fixed;
}

.wrapper-aside {
	margin: auto 14%;
	height: 100vh;
	position: relative;
}

.content {
	width: 80vw;
	margin-left: 20vw;
	overflow: hidden;
}

.wrapper {
	padding: 0 70px;
}

/* =========== Header =================================== */
.logo {
	padding-bottom: 45px;
  margin-top: 45px;
	font-family: 'Playfair Display', serif;
	font-size: 42px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
}

.logo__link {
	position: absolute;
	left: -20%;
	top: 0;
	right: -20%;
	bottom: 0;
}

.block, 
.logo__mid {
	display: inline-block;
}

.navigation { padding: 45px 0; }
.menu__item { margin-bottom: 30px; }
.menu__item:last-child { margin-bottom: 0; }
.menu__item--link {
	display: block;
	text-transform: uppercase;
	font-size: 24px;
	color: #212121;
	letter-spacing: .2px;
	padding: 10px 0;
}

/* =========== Footer =================================== */
.footer {
	padding-bottom: 45px;
	position: absolute;
	bottom: 0;
}
.social-box {
	padding-top: 45px;
	padding-bottom: 25px;
	position: relative;
}

.social {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}

.social__item { margin-right: 0.7vw; }
.social__item:last-child { margin-right: 0; }

.social__item--link {
	font-size: 26px;
	color: #212121;
}

.author {
	font-size: 15px;
	font-weight: 700;
}

/* =========== Services ================================= */
.services {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-wrap: wrap;
}
.services__item {
	width: 32%;
	margin-right: 2%;
}
.services__item:nth-child(3n) { margin-right: 0; }

.serv-layout { background: url(../img/services/layout.svg) no-repeat 50% top; }
.serv-cms { background: url(../img/services/cms.svg) no-repeat top center; }
.serv-design { background: url(../img/services/web-design.svg) no-repeat top center; }
.serv-edits { background: url(../img/services/edits.svg) no-repeat top center; }
.serv-logo { background: url(../img/services/design-logo.svg) no-repeat top center; }
.serv-key { background: url(../img/services/turnkey-website.svg) no-repeat top center; }

.services__item--img {
	width: auto;
	height: 140px;
	margin: 0 auto 10px;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
.description { margin-top: 10px; }

/* =========== Portfolio ================================ */
.portfolio {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.portfolio__item {
	width: 33%;
	height: 100%;
	margin-right: .5%;
	background-color: #d0d0d0;
}
.portfolio-item:nth-child(3) {
	margin-right: 0;
}

/* =========== Advateges ================================ */
.advanteges {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.advanteges__item {
	width: 24%;
	margin-right: 1.33%;
	text-align: center;
}
.advanteges__item:last-child { margin-right: 0; }

.adv-time{ background-image: url(../img/advantages/on-time.svg); }
.adv-quality{ background-image: url(../img/advantages/quality.svg); }
.adv-wishes{ background-image: url(../img/advantages/wishes.svg); }
.adv-solutions{ background-image: url(../img/advantages/solutions.svg); }

.advanteges__item--img {
	width: 106px;
	height: 97px;
	margin: 0 auto;
	-webkit-background-size: 100% 100%;
	background-size: 100% 100%;
}
/* =========== About me ================================= */
/* =========== Contact ================================== */