body {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	line-height: 24px;
	color: #a77c5a;
}

li { list-style: none; }

.wrapper {
	max-width: 1300px;
	width: 80%;
	margin: 0 auto;
}

.heading {
	display: inline-block;
	font-size: 24px;
	color: #000;
	text-transform: uppercase;
	position: relative;
	top: 0;
	left: -155px;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	transform: rotate(-90deg);
}
.heading::before {
	content: '';
	display: block;
	width: 30px;
	height: 2px;
	background-color: #bcbcbc;
	position: absolute;
	top: 50%;
	left: -58px;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
}

.thin-part { font-weight: 300; }
.bold-part { font-weight: 700; }

/* header */

.header {
	height: 950px;
	background-color: #f2ebe6;
}

.top {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	color: #303437;
	position: relative;
	top: 75px;
}

.logo {
	font-size: 48px;
}

.head-menu {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.head-menu__item {
	padding: 10px;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
}

.profile {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.profile__item {
	margin-left: 40px;
	padding: 5px;
	font-weight: 500;
	text-transform: uppercase;
}
.profile__item:first-child { margin-left: 0; }

.banner {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	margin-top: 290px;
}

.banner__item {
	width: 49%;
	margin-right: 2%;
}
.banner__item:last-child { margin-right: 0; }

.banner__item--heading {
	font-size: 150px;
	line-height: 90px;
	letter-spacing: 25px;
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}

.banner__item--image {
	display: block;
	margin: 0 auto;
}

.banner__item--description {
	display: block;
	margin-top: 83px;
	font-size: 18px;
	line-height: 24px;
	text-align: center;
	text-transform: uppercase;
}

/* offer */
.offer-box {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}

.offer-box__left {
	
}

.offer-back1 {
	max-width: 725px;
	width: 100%;
	height: 620px;
	background: url(../img/offer1.jpg) no-repeat center;
}
.offer-back2 {
	max-width: 505px;
	width: 100%;
	height: 910px;
	background: url(../img/offer2.jpg) no-repeat center;
}

.offer-box__left--bottom {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
}